.dashboard-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
    height: 4.5rem;
    grid-column: 1 / -1;
    
}

.dashboard-header .header-right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.dashboard-header .header-right button {
    display: none;
}

.dashboard-header .header-right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.dashboard-header .header-right .theme-toggler .icon {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-header .header-right .theme-toggler .icon.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.dashboard-header .header-right .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*----------Media Queries Medium Displays----------*/
@media screen and (max-width: 1200px) {
  .dashboard-header {
    grid-column: 1 / -1;
    width: 100%;
    padding: 1rem 1.5rem;
  }
}

/*----------Media Queries Small Displays----------*/
@media screen and (max-width: 768px) {
    .dashboard-header {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 100;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .dashboard-header h1 {
        margin-left: 4rem;
    }

    .dashboard-header .header-right .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .dashboard-header .header-right .profile .info {
        display: none;
    }

    .dashboard-header .header-right button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .dashboard-header .header-right button .icon {
        font-size: 2rem;
    }
}